a {
    text-decoration: none ;
}

a:hover{
    text-decoration: underline;
}

h2::first-letter{
    font-weight: bold;
    font-size: 1.5em;
    transform: rotate(0.5turn);
}

p#dropcaps{
    transform: rotateX(180deg)
}

.yellow-color {
    color: rgb(236, 231, 143);
}

div.movieout p.detail-sub{
    padding-inline-start: 40px;
    color: white;
}

div.movieout{
    color: rgb(236, 231, 143);
}

div > p{
    color: rgb(236, 231, 143);

}



.sunShinebeach{
    font-weight: bold;
}

.bed{
    font-weight: bold;
}

#myclasses{
    /* color: aqua; */
    background-color: aqua;
}

#myfavmovie{
    background-color: bisque;
}

#mymood{
    background-color: coral;
}

#funfactneighbor{
    background-color: darkseagreen;
}

h2{
    font-family: Tahoma, Verdana, sans-serif;
    color: rgb(28, 166, 238);
    text-align:left ;
}


body{
    background-color: rgb(89, 86, 72);
}

p{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: lighter;
    text-align: left;
}


a{
    color: rgb(28, 166, 238);

}

ul{
    color: white;
}

a > p{
    color: rgb(28, 166, 238);

}

ol{
    color: white;

}